.slider-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  min-height: 100vh;
  padding: 40px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 100%;
}
.mainHead {
  font-size: 30px;
  font-weight: 500;
  color: #05acff;
}
.planetsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  padding: 30px;
}
